body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #F7F7F2;
}

.container {
    width: fit-content;
    margin: 20px auto;
    padding: 8px 24px;
    background: #fff;
    border-radius: 8px;
}

.recipe-title {
    text-align: center;
    color: #F25C54;
}

.recipe-image > img {
    border-radius: 8px;
}

.recipe-image > figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #4F6367;
}

.recipe-subtitle {
    color: #F27059;
}

.recipe-description {
    width: 600px;
    font-size: 18px;
}

.ingredients-heading, .steps-heading {
    color: #F79D65;
}

.ingredients-list {
    line-height: 2;
    list-style-type: "🍳";
}

.steps-list {
    list-style-type: "🍳";
    line-height: 1.4;
}

.steps-list li {
    margin-bottom: 12px;
    width: 600px;
}

.return-main-page {
    font-weight: bold;
    font-size: 18px;
}

.return-main-page a {
    color: #AD2831;
}

.return-main-page a:hover {
    text-decoration: none;
}
